.main-box {
    background-color: #C1C6C8;
    display: inline-block;
    box-shadow: 10px 10px 0px #241E24;
    text-align: center;
    padding: 42px 44px;
}

.main-box .main-title {
    margin-bottom: 28px
}