.main-button{
    font-family: 'Fira Code', monospace;
    display: inline-block;
    background-color: #532A44;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #241E24;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(.45, .97, .68, 2.48);
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

.main-button:hover {
    transform: scale(1.08);
    opacity: 0.95;
}